:root {
  --mainDark: #132743;
  --mainGrey: #a2a8d3;
  --mainlightGrey: #e4f1fe;
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.navbar-toggler:focus {
  outline: none !important;
  color: #a2a8d3;
}

.navbar-toggler {
  border: none;
}